<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"mm-main","anchor":"contenu"} -->
<main class="wp-block-group mm-main" id="contenu"><!-- wp:group {"className":"mm-editable-content"} --><div class="wp-block-group mm-editable-content"><!-- wp:shortcode -->[maranda_blog_introduction]<!-- /wp:shortcode --></div><!-- /wp:group --><!-- wp:group {"className":"mm-wrap mm-section"} -->
<div class="wp-block-group mm-wrap mm-section"><!-- wp:query {"query":{"inherit":true},"className":"mm-posts"} --><div class="wp-block-query mm-posts">
<!-- wp:post-template --><!-- wp:group {"className":"mm-post-row"} --><div class="wp-block-group mm-post-row">
<!-- wp:post-date {"format":"j F Y"} /--><!-- wp:post-title {"isLink":true,"level":2} /--><!-- wp:post-excerpt {"moreText":"Lire le texte","excerptLength":45} /-->
</div><!-- /wp:group --><!-- /wp:post-template -->
<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} --><!-- wp:query-pagination-previous {"label":"Textes précédents"} /--><!-- wp:query-pagination-numbers /--><!-- wp:query-pagination-next {"label":"Textes suivants"} /--><!-- /wp:query-pagination -->
<!-- wp:query-no-results --><!-- wp:paragraph -->
<p>Aucun texte pour le moment.</p>
<!-- /wp:paragraph --><!-- /wp:query-no-results --></div><!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->