<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"mm-main","anchor":"contenu"} -->
<main class="wp-block-group mm-main" id="contenu"><!-- wp:group {"className":"mm-wrap mm-reading mm-section"} -->
<div class="wp-block-group mm-wrap mm-reading mm-section"><!-- wp:post-title {"level":1} /--><!-- wp:post-content {"className":"mm-editable-content mm-privacy-content","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->