<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"mm-main","anchor":"contenu"} -->
<main class="wp-block-group mm-main" id="contenu"><!-- wp:group {"className":"mm-wrap mm-reading mm-section mm-article"} -->
<div class="wp-block-group mm-wrap mm-reading mm-section mm-article"><!-- wp:post-date {"format":"j F Y"} /--><!-- wp:post-title {"level":1} /--><!-- wp:post-featured-image /--><!-- wp:post-content {"layout":{"type":"constrained"}} /--><!-- wp:group {"className":"mm-article-end"} -->
<div class="wp-block-group mm-article-end"><!-- wp:post-terms {"term":"category"} /--><!-- wp:post-navigation-link {"type":"previous","label":"Texte précédent : "} /--><!-- wp:post-navigation-link {"type":"next","label":"Texte suivant : "} /--><!-- wp:paragraph {"className":"mm-text-link"} -->
<p class="mm-text-link"><a href="https://www.maranda.dev/blog/">Revenir au carnet <span aria-hidden="true">↗</span></a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --><!-- wp:comments --><!-- wp:comments-title /--><!-- wp:comment-template --><!-- wp:comment-author-name /--><!-- wp:comment-content /--><!-- /wp:comment-template --><!-- wp:comments-pagination --><!-- wp:comments-pagination-previous /--><!-- wp:comments-pagination-next /--><!-- /wp:comments-pagination --><!-- wp:post-comments-form /--><!-- /wp:comments --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->